@import '../../styles/variables';

.indicators-wrapper{
  width: 350px;
  @include center();
  justify-content: space-between;
  margin: 0 auto;
  //padding-bottom: 20px;
  padding: 20px 0;
  //margin-top: 2%;
  //padding: 0% 6.7% 0 2.1%;
  //height: 10%;
  // padding-right: 3.5%;
  
  // padding-left: 2.1%;
}
.indicators-wrapper-max{
  width: 50vw;
  //min-width: 300px;
  max-width: 530px;
  @include center();
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
  //margin-top: 3vh;
  //margin-right: 3vh;
  //padding: 0% 6.7% 0 2.1%;
  //height: 10%;
  // padding-right: 2vh;
  // padding-left: 0%;
}
.indicator-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin: 0 5% 3% 5%;
  color: $color-4;
  padding-top: 2vh;
  //text-align: end;
}
// .indicator-title{
//   font-weight: bold;
//   font-size: 25px;
// }
.indicator{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.indicator-main{
  font-weight: bold;
  font-size: 20px;
}
.indicator-main-max{
  font-weight: bold;
  font-size: 3vh;
}
.score-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// .sideMenu-img{
//   width: 35px;
//   opacity: 0.7;
// }
// .score-img{
//   width: 30px;
//   opacity: 0.6;
// }
@media (max-height: 768px){
  .indicators-wrapper,
  .indicators-wrapper-max{
    width: 50vh;
  }
  .indicator-main,
  .indicator-main-max{
    font-size: 20px;
  } 
}

@media(max-width: 768px) and (min-height: 601px){
  .indicators-wrapper,
  .indicators-wrapper-max{
    width: 50vw;
  }
  .indicator-main,
  .indicator-main-max{
    //font-weight: bold;
    font-size: 23px;
  }
}

@media (max-width: 768px) and (max-height: 600px){
  .indicators-wrapper,
  .indicators-wrapper-max{
    width: 50vh;
  }
  .indicator-main,
  .indicator-main-max{
    //font-weight: bold;
    font-size: 23px;
  }
}