@import '../../../styles/variables';

.page{
  width: 75%;
  height: 75%;
  margin: 0 auto;
  @include center();
  flex-direction: column;
  justify-content: flex-start;
}
.table-wrapper{
  overflow: auto;
  width: 100%;
}
.thead{
  background-color: rgba(0, 0, 0, 0.1);
}
.table{
  text-align: center;
}
.autoplay-player:hover,
.autoplay-player:focus,
.autoplay-player:active{
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}