@import '../../styles/_variables';

.border{
  border: solid 1px $color-8;
  min-width: 24.5%;
  max-height: 24.5%;
  background: $bg-color-light;
  border-radius: 3%;
  @include center();
  justify-content: center;
  align-items: center;
}
.cell{
  width: 96%;
  height: 96%;
  background: $color-6;
  border-radius: 3%;
  //border: solid 1px $bg-color-dark;
  //border: solid 3px $color-7;
  @include center();
  justify-content: center;
  color: $bg-color-light;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: $border-dark 0 0 2px;
}
.cell-max{
  width: 96%;
  height: 96%;
  background: $color-6;
  border-radius: 3%;
  //border: solid 1px $bg-color-dark;
  //border: solid 3px $color-7;
  @include center();
  justify-content: center;
  color: $bg-color-light;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: $border-dark 0 0 2px;
}
.cell-0{
  opacity: 0;
}
.cell-2{
  background-color: $color-2;
}
.cell-4{
  background-color: $color-4;
}
.cell-8{
  background-color: $color-8;
}
.cell-16{
  background-color: $color-16;
}
.cell-32{
  background-color: $color-32;
}
.cell-64{
  background-color: $color-64;
}
.cell-128{
  background-color: $color-128;
}
.cell-256{
  background-color: $color-256;
}
.cell-512{
  background-color: $color-512;
}
.cell-1024{
  background-color: $color-1024;
}
.cell-2048{
  background-color: $color-2048;
}
