@import '../../styles/_variables';

.cell{
  min-width: 24.5%;
  max-height: 24.5%;
  background: $color-6;
  border-radius: 3%;
  border: solid 3px $color-7;
  @include center();
  justify-content: center;
  color: $color-5;
  font-size: 2.5rem;
  font-weight: 500;
}
