$font-color-dark: rgb(33, 37, 41);
$font-color-light: rgb(255, 255, 255) !important;
$bg-color-dark: rgb(52, 58, 64) !important;
$bg-color-light: rgb(250, 248, 239) !important;
$overlay-light:  rgba(0, 0, 0, 0.05);
$overlay-medium: rgba(0, 0, 0, 0.08); ;
$border-dark: #432818;
$border-light: #ddbea9;
// $background-color-3:  #9CEAEF !important;
// $background-color-4: rgb(224, 253, 245);
$background-color-5: rgb(250, 248, 239) !important;
$color-6: #343a40 !important;
$color-7: #343a40 !important;

$color-2: #2e3338 !important;
$color-4: #343a40 !important;
$color-8: #495057 !important;
$color-16: #6c757d !important;
$color-32: #7d8597 !important;
$color-64: #979dac !important;
$color-128: #9ca3a8!important;
$color-256: #c3cecd !important;
$color-512: #f8f9fa !important;
$color-1024: #e1e7e6 !important;
$color-2048: #d3d3d3 !important;


@mixin id_album(){
    border-radius: 0;
    border: none;
    color: rgb(33, 37, 41);
    outline: none;
    margin: 0;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
}
@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin column(){
    display: flex;
    flex-direction: column;
}
// @mixin card-btn(){
//     max-width: 20vw;
//     height: 40px;
//     color: $font-color-dark;
//     padding-right: 17px;
//     padding-left: 17px;
// }
