@import '../../styles/_variables';

.game-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vh;
}
.field-wrapper{
  @include center();
  justify-content: center;
  align-items: flex-start;
}
.field{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 400px;
  width: 400px;
  background-color: $overlay-light;
  border: solid 1px $bg-color-dark;
  margin-left: 15%;
}
.field-max{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60vh;
  width: 60vh;
  min-width: 60vh;
  background-color: $overlay-light;
  border: solid 1px $color-32;
  padding: 0.5vh;
  margin-left: 10%;
  margin-bottom: 5%;
}
.start-game{
  @include center();
  justify-content: center;
}
// .start-game-btn{
//   background-color: $bg-color-light;
//   color: $font-color-dark;
//   font-weight: bold;
//   padding: 10px 15px
// }
.start-game-btn{
  background-color: none;
  color: $font-color-light;
  font-weight: bold;
  padding: 10px 15px;
  transition: all 0.5s;
}
.start-game-btn:hover,
.start-game-btn:focus{
  background-color: $bg-color-light;
  color: $font-color-dark !important;
  //transition-delay: 0;
  transition: all 1.5s;
  // font-weight: bold;
  // padding: 10px 15px
}
