@import '../../styles/_variables';

// .navbar{
//   width: 100%;
// }
.navbar-expand{
  justify-content: space-between !important;
  height: 60px;
  //min-width: 768px;
}
// }
.my-navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  margin: 0 2%;
}
.navbar-nav{
  width: 30%;
  flex-wrap: wrap;
  justify-content: flex-end !important;
  //margin-right: 3%;
}
// .max{
//   margin: 1vh 3vw;
// }
.navbar-brand{
  font-weight: 500;
  font-size: 25px;
}
.btn-primary{
  background: none !important;
  border: none;
}
.btn-primary:hover,
.btn-primary:focus{
  outline: none !important;
  box-shadow: none !important;
}
.nav-btn{
  padding: 0 !important;
  margin: 0 3% 0 0!important;
  height: 40px;
  //margin-right: 3%;
}
// .sc-bdfBwQ{
//   margin-top: 8px;
//   margin-left: 10px;
// }
// .sc-gsTCUz{
//   //min-height: 604px;
// }
.auth-img{
  width: 30px;
}
.maximize-img{
  width: 25px !important;
}
.active{
  color: $font-color-dark !important;
  background-color: $font-color-light;
}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active{
  background-color: $bg-color-light;
  color: $font-color-dark;
}




// @media (max-width: 1100px){
//   .menu-img{
//     width: 40px;
//   }
// }