@import '../../styles/_variables';

.container-fluid {
  @include center();
  height: 7%;
}
.footer-copyright{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
}
#logo{
  width: 50px;
}
.inline{
  display: flex;
  justify-content: center;
  align-items: center;
}
.font-16{
  font-size: 16px;
}
.footer-link{
  color: $color-6;
}

@media (max-height: 768px){
  .container-fluid {
    height: 7vh;
  }
  .font-16{
    font-size: 14px;
  }
}

@media (max-width: 500px){
  .font-16{
    font-size: 14px;
  }
  .footer-copyright {
    font-size: 10px;
  }
}


